language: ruby
rvm:
  - "2.1.1"
env:
  - TAG_FILTER=js DB=postgres RAILS_ENV=test
install: touch ~/do_not_run_bundle
before_script:
  - "./script/travis/setup_database.sh"
script: "bundle exec rspec spec --tag $TAG_FILTER && sleep 1"
