.comment_ready.span7
  .inner_comment_ready
    %h4.comment_username
      = comment.user.username

    .star{"data-score" => comment.rating.score }
    %hr
    %p
      = comment.body
  - if comment.user_id == current_user.id
    = link_to '✕', hotel_comment_path(@hotel, comment), method: :delete, data: { confirm: 'Are you sure?' }